table {
    margin: auto;
}

td {
    border: 10px solid tomato;
    font-size: 100px;
    height: 130px;
    text-align: center;
    width: 130px;
}

.jumbotron {
    margin: 5% auto;
    margin-left: 35%;
}